<div class="container mt-4">


<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/public/upload/{{image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">Categoria: {{category}}</p>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-7 mx-auto">
    <div class="card bg-dark text-white">
      <div class="card-header pt-5" >
        <h4 class="text-center">
          Actualizar datos
        </h4>
      </div>
      <div class="card-body">
        <form action="/teams/update/{{name}}" method="POST" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="name">Nombre del equipo:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value={{name}}
            />
          </div>
          
          <div class="mb-3">
            <label> Categoria:</label>
                <select name="category" id="categ" class="form-select form-select-sm" aria-label="Ejemplo de .form-select-sm">
                    <option selected>{{category}}</option>
                    <option name="category" value="Premiere">Premiere</option>
                    <option name="category" value="Ascenso">Ascenso</option>
                </select>
          
          </div>

          <div class="mb-3">
                <div class="form-group pb-4">
                <label for="inputGroupFile" class="custom-File-label" >Seleccionar Imagen</label>
                <input type="file" name="image" class="custom-file-input" id="inputGroup" aria-describedby="inputGroupFileAddon"> 
            </div>
            </div>
          <button class="btn btn-success btn-block">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>